/* ==========================================================================
   Generic Layer
   Reset, global box-sizing, typography, etc.
   Site-wide background colors.
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    font-family: "Source Sans 3", -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue; sans-serif;
}

body {
    min-height: 100dvh;
    color: hsl(240, 6%, 94%);
    background: rgb(14, 14, 16);
}

/* ==========================================================================
   Elements Layer
   Styling for bare HTML elements, type selectors (h1, p, ul, etc.)
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Quicksand", "Segoe UI", serif;
}

h1 {
    font-size: 36px;
    margin-bottom: 16px;
}

h2 {
    font-size: 20px;
    margin-bottom: 12px;
}

a {
    text-decoration: none;
    color: inherit;
}



/* ==========================================================================
   Objects Layer
   Fundamental building blocks
   Reusable structural patterns: containers, grids, etc.
   ========================================================================== */
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.interface {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

.button {
    padding: 0.5rem;
    color: hsl(240, 6%, 94%);
    background-color: rgb(30, 30, 32);
    font-weight: 500;
    border: 1px solid #444;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
}


#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: fit-content;
    padding-bottom: 2rem;
}

.gridSquare {
    height: 50px;
    width: 50px;
    background-color: rgb(239, 239, 239);
    cursor: crosshair;
    flex: 0 0 50px; /* Don't grow, don't shrink, stay at 50px */
}

.gridLines {
    border: 1px solid #444;
}

.button {
    padding: 0.5rem;
}

.color-picker-container {
    display: flex;
    align-self: flex-end;
    gap: 1rem;
    cursor: pointer;
    padding: 4px;
    border: 2px dashed #ccc;
    border-radius: 6px;
    transition: border-color 0.2s;
    width: fit-content;
    color: hsl(240, 6%, 94%);
    font-family: inherit; 
}

.color-picker-container:hover {
    border-color: #999;
}

.color-display {
    display: flex;
    padding: 1px 4px;
    min-width: 120px;

}